@import '../variables';

.legend{

    display: flex;
    align-items: center;

    span{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius:50% ;
    margin-right: 2%;
    }

    .kg{
       background-color: #282D30; 
    }

    .kcal{
        background-color: $primaryColor;
        margin-left: $margin;
    }

    p{
        color: $secondaryColor;
        font-size: 14px;
    }
}

.content-barchart{
    background: $backgroundColor;
    width: 58vw;
    margin-bottom: 10%;
    border-radius: 5%;

    @include for-size(xlarge){
        width: 80vw;
    }
    
    .barchart-title{
        font-size: 15px;
        padding: 3%;
        
    }

    .recharts-responsive-container{
        width: 128% !important;

        .recharts-surface{
            width: 1450px !important;

            @include for-size (xlarge) {
                width: 1093px !important;
            }
        }
    }

    .recharts-legend-wrapper{
        right: 260px !important;
        top: -45px !important;

        @include for-size (xlarge) {
            right: 107px !important;
        }
    
        
        .legend{
            width: 330px;
        }
    }

    .recharts-cartesian-axis-tick-line{
        stroke: $none;
    }

    .recharts-cartesian-grid-vertical{
        line{
            stroke: $none;
        }
    }
}

.tooltip{
    background-color: $primaryColor;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 10px;

    .legend-tooltip{
        margin-bottom: 35%;
    }
}


