@import '../variables';

.card-container{
    background-color: #FBFBFB;
    display: flex;
    padding: 15%;
    width: 15vw;
    border-radius: 5%;

    @include for-size(xlarge){
        padding: 1%;
        width: 165px;
    }

    .card-container-img{
        padding: 5%;
        border-radius: 20%;

        @include for-size(xlarge){
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .card-container-information{
        margin-left: 6%;

        @include for-size(xlarge){
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .name{
            color: #74798C;

            @include for-size(xlarge){
                margin-left: 4%;
            }
        }

        .valeur{
            font-weight: bold;
        }
    }
}