@import '../variables';

.content-linechart{
    background-color: #E60000;
    border-radius: 5%;
    padding: 1%;
    height: 300px;

    @include for-size(xlarge){
        width: 45%;
    }

    @include for-size(xlarge){
        .recharts-surface{
            width: 34vw;
        }
    }

    h3{
        color: rgba(255, 255, 255, 0.504);
        width: 60%;
        position: relative;
        top: 6%;
        left: 6%;

    }

    .tooltip{
        background-color: white;
        color: black;
    }

    .recharts-cartesian-axis-line{
        stroke: none;
    }

    .recharts-cartesian-axis-tick-line{
        stroke: none;
    }

    circle{
        stroke-width: 0;
    }
}