@import '../variables';

.content-linechart{
    background-color: #E60000;
    border-radius: 5%;

    h3{
        color: rgba(255, 255, 255, 0.504);
    }

    .recharts-cartesian-axis-line{
        stroke: none;
    }

    .recharts-cartesian-axis-tick-line{
        stroke: none;
    }
}