@import '../variables';

.content-radialbarchart{
    background-color: $backgroundColor;
    padding: 1%;
    border-radius: 5%;

    @include for-size(xlarge){
        width: 79vw ;
        margin-top: 5%;
    }

    @include for-size(xlarge){
        .recharts-surface{
            width: 82vw;
        }
    }

    h3{
        position: relative;
        top: 20px;
        left: 6%;
        font-size: 20px;
        width: 94%;
    }
    .recharts-pie-label-line{
        stroke: $none;
    }
}

.recharts-tooltip-wrapper-bottom{
    display: $none;
}

.recharts-tooltip-cursor{
    display: $none;
}

.center{
    height: 39%;
    background-color: white;
    border-radius: 50%;
    width: 55%;
    position: relative;
    top: -58%;
    left: 18%;

    @include for-size(xlarge){
        left: 42%;
        top: -50%;
        height: 28%;
        width: 18%;
    }

    .pourcentage{
        font-size: 26px;
        position: relative;
        top: 21%;
        left: 36%;
        overflow: hidden;
        display: flex;
        text-align: center;
    }

    .text{
        left: 29%;
        bottom: -20%;
        width: 39%;
        color: $secondaryColor;
        position: relative;
        font-size: 16px;
        text-align: center;
    }
}