@import '../variables';

.content-profil-page{
    height: 150vh;
}
.content-page{
    display: flex;
}

.profil-page{
    margin-left: $margin;
    margin-top: $margin;
    margin-bottom: $margin;

    .title{
        font-size: 48px;
        margin-bottom: 2%;
    }

    .subtitle{
        font-size: 18px;
        margin-bottom: $margin;
    }

    .content-other-chart{
        display: flex;
        justify-content: space-between;
    }

    .content-macronutrient{
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 730px;

        @include for-size(xlarge){
            flex-direction: row;
            margin-left: 0%;
            height: 65px;
        }
    }
}

@include for-size(xlarge){
    .content-page{
        flex-direction: column;
    }
}

