@import '../variables';

.content-page{
    display: flex;
}

.profil-page{
    margin-left: $margin;
    margin-top: $margin;

    .title{
        font-size: 48px;
        margin-bottom: 2%;
    }

    .subtitle{
        font-size: 18px;
        margin-bottom: $margin;
    }

    .content-other-chart{
        display: flex;
        justify-content: space-between;
    }
}

