@import '../variables';

.sideBar{
    background-color: black;
    @include display(space-around, center);
    flex-direction: column;
    width: 17vw;
    height: 83vh;

    ul{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li{
            background-color: white;
            border-radius: 5px;
            padding: 9px;
            @include display(center, center);
        }
    }

    .texte-vertical {
        transform: rotate(90deg);
        transform-origin: center;
        font-size: 10px;
        color: white;
    }
}